<div class="home" *ngIf="!paginaEspera">
    <div class="home_background" style="background-image: url(assets/images/index.jpg)"></div>


    <div class="home_content_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_date">Septiembre 6</div>
                        <div class="home_title">Predicacion del Evangelio</div>
                        <div class="home_location">(18:00 - 19:00) </div>
                        <div class="home_location">Hno. Juan Perez </div>
                        <div class="home_buttons">
                            <div class="button home_button"><a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i> {{ 'BOTONES.VIVO' | translate}} FACEBOOK</a></div>
                            <div class="button home_button"><a href="#"><i class="fa fa-youtube  fa-lg" aria-hidden="true"></i> {{ 'BOTONES.VIVO' | translate}} YOUTUBE</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home" *ngIf="paginaEspera">
    <div class="home_background" style="background-image: url(assets/images/index.jpg)"></div>


    <div class="home_content_container">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center text-center">
                    <div class="home_content">
                        <div class="home_location">{{'VERSO.DESCRIPCION' | translate}}</div>
                        <div class="home_date">{{'VERSO.REFERENCIA' | translate}}</div>
                        <ul>
                            <li><span>{{this.dia}}</span><strong>{{'VOCABULARIO.DIAS' | translate}}</strong></li>
                            <li><span>{{this.hora}}</span><strong>{{'VOCABULARIO.HORAS' | translate}}</strong></li>
                            <li><span>{{this.minuto}}</span><strong>{{'VOCABULARIO.MINUTOS' | translate}}</strong></li>
                            <li><span>{{this.segundo}}</span><strong>{{'VOCABULARIO.SEGUNDOS' | translate}}</strong></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>