<div class="home" *ngIf="!paginaEspera">
    <div class="home_background" style="background-image: url(assets/images/index.jpg)"></div>


    <div class="home_content_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_date">Septiembre 6</div>
                        <div class="home_title">Predicacion del Evangelio</div>
                        <div class="home_location">(18:00 - 19:00) </div>
                        <div class="home_location">Hno. Juan Perez </div>
                        <div class="home_buttons">
                            <div class="button home_button"><a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i> {{ 'BOTONES.VIVO' | translate}} FACEBOOK</a></div>
                            <div class="button home_button"><a href="#"><i class="fa fa-youtube  fa-lg" aria-hidden="true"></i> {{ 'BOTONES.VIVO' | translate}} YOUTUBE</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home" *ngIf="paginaEspera">
    <div class="home_background" style="background-image: url(assets/images/index.jpg)"></div>


    <div class="home_content_container">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center text-center">
                    <div class="home_content">
                        <div class="home_location">"Porque donde están dos o tres congregados en mi nombre, allí estoy yo en medio de ellos."</div>
                        <div class="home_date">San Mateo 18:20</div>
                        <ul>
                            <li><span>{{this.dia}}</span><strong>Dias</strong></li>
                            <li><span>{{this.hora}}</span><strong>Horas</strong></li>
                            <li><span>{{this.minuto}}</span><strong>Minutos</strong></li>
                            <li><span>{{this.segundo}}</span><strong>Segundos</strong></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>