<footer class="footer">

    <div class="footer_extra">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer_extra_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-start justify-content-center">
                        <div class="footer_social">
                            <div class="footer_social_title">Siguenos en</div>
                            <ul class="footer_social_list">
                                <li><a href="https://www.facebook.com/123CristianosAS/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UC8z1j8anYp-hbYFm2cSWY4A"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="footer_extra_right ml-lg-auto text-lg-right">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>