<div class="calendar">
    <div class="container opciones">
        <div class="row justify-content-center">
            <ul class="dias">
                <li><button *ngFor="let dia of dias" class="btn btn-outline-primary" style="margin-right: 10px; margin-bottom: 10px;" (click)="verHorario(dia)"><i class="fa fa-calendar fa-sm" aria-hidden="true"></i> SEPTIEMBRE {{dia}}</button></li>
            </ul>
        </div>

    </div>


    <div class="container reset_container">

        <div class="row justify-content-center">
            <div class="col-xl-7 calendar_col">
                <div class="calendar_container">
                    <div class="calendar_title_bar d-flex flex-row align-items-center justify-content-start">
                        <div>
                            <div class="calendar_icon"><img src="assets/images/calendar.svg" alt=""></div>
                        </div>
                        <div class="calendar_title">{{dia}} de septiembre</div>
                    </div>
                    <div class="calendar_items">

                        <!-- Calendar Item -->
                        <div *ngFor="let evento of eventos" class="calendar_item d-flex flex-row align-items-center justify-content-start">
                            <div>
                                <div class="calendar_item_image">
                                    <img *ngIf="evento.participante.length === 0" src="assets/images/equipo.png" alt="">
                                    <img *ngIf="evento.participante.length > 0" [src]="'assets/images/flags/'+evento.participante[0].pais+'.png'" alt="">
                                </div>
                            </div>
                            <div class="calendar_item_time">
                                <div>{{evento.horaInicio.getHours() | numberWithCero}}:{{evento.horaInicio.getMinutes() | numberWithCero}}</div>
                                <div></div>
                            </div>
                            <div class="calendar_item_text">
                                <div>{{evento.nombre}}</div>
                                <div>{{evento.horaInicio.getHours()| numberWithCero}}:{{evento.horaInicio.getMinutes() | numberWithCero}} - {{evento.horaFin.getHours() | numberWithCero}}:{{evento.horaFin.getMinutes() | numberWithCero}}</div>
                                <div *ngFor="let p of evento.participante">
                                    {{p.nombre}} {{p.apellidos}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>