<header class="header" id="header">
    <div>
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_top_content d-flex flex-row align-items-center justify-content-start">
                            <div>
                                <a routerLink="/inicio">
                                    <div class="logo_container d-flex flex-row align-items-start justify-content-start">
                                        <div class="logo_image">
                                            <div><img src="assets/images/logo.png" alt=""></div>
                                        </div>
                                        <div class="logo_content">
                                            <div id="logo_text" class="logo_text logo_text_not_ie">{{ 'PRINCIPAL.TITULO' | translate }}</div>
                                            <div class="logo_sub">{{ 'PRINCIPAL.DESCRIPCION' | translate }}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="header_social ml-auto">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/123CristianosAS/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://www.youtube.com/channel/UC8z1j8anYp-hbYFm2cSWY4A"><i class="fa fa-youtube  fa-2x" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_nav" id="header_nav_pin">
            <div class="header_nav_inner">
                <div class="header_nav_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="header_nav_content d-flex flex-row align-items-center justify-content-start">
                                    <nav class="main_nav">
                                        <ul>
                                            <li routerLinkActive="active"><a routerLink="/inicio">{{'MENU.INICIO' | translate}}</a></li>
                                            <li routerLinkActive="active"><a routerLink="/horarios">{{'MENU.HORARIO' | translate}}</a></li>
                                            <li routerLinkActive="active"><a routerLink="/recursos">{{'MENU.NOTAS' | translate}}</a></li>
                                            <li routerLinkActive="active"><a routerLink="/contacto">{{'MENU.CONTACTO' | translate}}</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>