<div class="calendar">

    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3>Reunión Virtual</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Blog de reuniones virtuales</h5>

                    <a href="https://www.respondiendo.net" target="_blank" class="btn btn-primary">ACCEDER</a>
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3>Lo que respondi</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Este sitio no tiene fines de lucro, son respuestas que el autor Mario Persona ha dado desde 1988 a quienes le preguntaron sobre la Biblia. Las ideas aquí no son originalmente suyas, sino que son el resultado de lo que aprendió de la
                        Palabra de Dios fuera de los sistemas denominacionales con hermanos congregados en el nombre del Señor y también con autores de otras épocas que se congregaron así, como JG Bellett, CH Brown, JN Darby., E. Dennett, WW Fereday,
                        JL Harris, W. Kelly, CH Mackintosh, A. Miller, FG Patterson, AJ Pollock, HL Rossier, H. Smith, C. Stanley, W. Trotter, GV Wigram y otros muchos.</h5>

                    <a href="https://reunionesenlinea.blogspot.com" target="_blank" class="btn btn-primary">ACCEDER</a>
                </div>
            </div>

        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3>Lo que respondi(Canal de Youtube)</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Estas son las respuestas a los que preguntaron sobre la Biblia</h5>

                    <a href="https://www.youtube.com/playlist?list=PLVHfjG3_SbGDFwFZlBOmXBaIkYZzoqrW0" target="_blank" class="btn btn-primary">ACCEDER</a>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3>Lo que respondi(Página de Facebook)</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Son respuestas que el autor Mario Persona ha dado desde 1988 a quienes le preguntaron sobre la Biblia.</h5>

                    <a href="https://www.facebook.com/respondiendo.net" target="_blank" class="btn btn-primary">ACCEDER</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3>Evangelio en tres minutos</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Este sitio no tiene fines de lucro, el autor Mario Persona es un consultor y orador empresarial que en su tiempo libre habla de Cristo sin pedir dinero. No está conectado a ninguna denominación u organización religiosa. Se congrega
                        solo al nombre del Señor fuera del sistema denominacional.</h5>

                    <a href="https://www.en3minutos.net/" target="_blank" class="btn btn-primary">ACCEDER</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3>Evangelio en tres minutos(Canal de Youtube)</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title"> Un mensaje urgente para quien tiene prisa.</h5>

                    <a href="https://www.youtube.com/playlist?list=PLDTzK6OE5b2rQaGEsGP1VkqFTiMN51b79" target="_blank" class="btn btn-primary">ACCEDER</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3>Evangelio en tres minutos(Página de Facebook)</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title"> Los videos de el evangelio en 3 minutos son escritos cortos del evangelio adaptados al formato de vídeo, grabados con la intención de dar a conocer el mensaje de salvación.</h5>

                    <a href="https://www.facebook.com/en3minutos.net" target="_blank" class="btn btn-primary">ACCEDER</a>
                </div>
            </div>
        </div>
    </div>

</div>